

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="/img/profile.jpeg" alt="Logo" width="40" height="40" class="rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav nav-masthead justify-content-center float-md-end" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <NavLink class="nav-link fw-bold py-1 px-0" href="" Match="NavLinkMatch.All">Home</NavLink>
                    <NavLink class="nav-link fw-bold py-1 px-0" href="https://l.alejandro.md/blog">Blog</NavLink>
                    <NavLink class="nav-link fw-bold py-1 px-0" href="contact">Contact</NavLink>
                    <li class="nav-item ms-2">
                        <button id="theme-toggle" class="btn btn-sm btn-outline-secondary rounded-circle">
                            <i class="bi bi-sun"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>