<header>
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <img src="/img/profile.jpeg" alt="Alejandro Mora" width="40" height="40" class="rounded-circle">
        </a>
        <div class="nav-links">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="https://l.alejandro.md/blog">Blog</NavLink>
            <NavLink class="nav-link" href="contact">Contact</NavLink>
            <button id="theme-toggle" class="theme-toggle">
                <i class="bi bi-sun"></i>
            </button>
        </div>
    </nav>
</header>